{% extends 'AcmeTestBundle::layout.html.twig'%}

{% block content %}
	{{ parent() }}	
{% endblock %}

{% block middle %}
<div class="middle">
<img src={{ asset('bundles/acmetest/images/cuelogic_logo.png')}}>
<p>
We are a team of passionate “wired in” developers, with a product DNA working to build a world class services company.

We have developed many cutting edge products for startups and larger companies, many from scratch and continue to be their technology partners from idea to acquisition. Since our inception 5 years ago, we have managed to retain all clients with no exceptions.

Our core strength is outsourced product development and provide the necessary flexibility, IP protection and process maturity required to launch your innovation or glorify your product before anyone else does.</p>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
