{% extends 'AcmeTestBundle::layout.html.twig'%}

{% block content %}
	{{ parent() }}	
{% endblock %}

{% block middle %}
<div class="middle">
Terms and Conditions
<p></p>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}



