body
{
margin: 0;
background:#f1f1f1 !important;
}
.links a {
font-size: 15px;
background: orange;
color: #fff;
padding: 5px;
margin-bottom: 10px;
text-decoration: none;
}
.header
{
	background: #00476b;
	color:#fff;
	height:30px;
	margin-bottom: 5px;
}
.middle
{
	/*border:2px solid #333;*/
	width:100%;
	font-size: 20px;
	height:77%;
	margin-left:10px;
}
.footer
{
	background: #00476b;
	color:#fff;
	height:20px;
	text-align: center;
	margin: 0;
}
.terms
{
	color:#fff;
	font-size: 15px;
	text-decoration: none;
}
.form
{
	font-size:12px;
	overflow-x:hidden;
	width:630px;
	padding:20px;
	border:2px solid #444;
}
.form label
{
	float:left;
	width:100px;
}
.form .files label
{
	width: 160px;
	float: none;
}
.errors
{
	color:red;
	float:right;
	width:240px;
	margin-top: -40px;
}
ul ,ol
{
	list-style: none;
}
.clients li
{
	background:#FFF;
	width:500px;
	margin-bottom:10px;
}
ul.photos li {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    padding:10px;
}
select
{
display: block;
  width: auto;
  float:left;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }